<small>EDITOR</small>
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
 
  <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit If Valid</button>

    <button type="submit" class="btn btn-primary submit-button">Submit Always</button>
</form>

<div class="btn-group" role="group" aria-label="Basic example">

<button 
(click)="addItem2Form()"
class="btn btn-primary submit-button">+ item 2</button>

<button 
(click)="addItemAsync()"
class="btn btn-primary submit-button">+ async</button>

</div>


<form [formGroup]="form1" (ngSubmit)="addField2Form()">
  <formly-form [model]="model1" [fields]="fields1" [options]="options1" [form]="form1"></formly-form>
 
  <button type="submit" class="btn btn-primary submit-button" [disabled]="!form1.valid">Add Field - valid</button>

    <button type="submit" class="btn btn-primary submit-button">Add Field</button>
</form>



<div>
  <div *ngIf="error">
    {{ error.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">
    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>

</div>


  <hr>
<p>securityToken: {{ securityToken }}</p>
<hr>
<pre>{{ model | json }}</pre>

